body {
    --deft-border-color: #6E7175;
    --deft-highlight-border-color: #5993B2;
    --deft-disabled-border-color: #3A3D41;

    --deft-default-color: #f0f0f0;
    --deft-disabled-color: #727679;
    --deft-placeholder-color: #A1A9B1;

    --deft-disabled-placeholder-color: #5A5D63;

    --deft-highlight-background: #3DAEE9;
    --deft-disabled-background: #2F3338;
    --deft-form-control-background: #1B1E20;
    --deft-button-background: #31363B;
    --deft-body-background: #2A2E32;

    --deft-scrollbar-background: #1B1E20;
    --deft-scrollbar-thumb-background: #424546;

    --deft-dialog-title-background: #31363B;
}
.main {
    background: #2a2a2a;
    color: #FFF;
    gap: 5px;
    align-items: flex-start;
    justify-content: space-between;
    height: 440px;
    width: 400px;
    margin: 0 auto;
    position: relative;
}
.key-tip {
    width: 10em;
    justify-content: flex-end;
    padding-right: 1em;
}
.key-key {
    color: #56A8F5;
}
.key-desc {
    width: 6em;
}
.red {
    color: #F00;
}
.score {
    flex: 1;
    align-items: center;
    padding-left: 6px;
}
.game-container {
    position: relative;
    width: 400px;
    height: 400px;
    background: #000;
}
.welcome-container {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #0008;
}
.game-title {
    font-size: 36px;
    padding: 20px 0;
    color: #56A8F5;
}
.segment {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #4CAF50;
}
.food {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #F00;
}